@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

.logo, .btn-link{
  text-decoration: none;
  color: aliceblue;
}

.btn-actions{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-actions li {
  padding: auto;
  margin-left: 10px;
}
.btn-actions ul li a:hover {
  color: #777;
}

.btn-actions ul li a svg {
  margin-right: 3px;
}

.header{
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
  text-align: center;
}

.header p {
  color: #828282;
}
